body {
  background-color: #fafafa;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('imagenes/fondo-papel.jpg');
}

header {
  background: linear-gradient(to right, #ffeb3b, #ffa000);
  color: #fff;
  padding: 2%;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

header nav {
  margin-top: 1%;
}

header nav a {
  color: #fff;
  font-size: 1.5em;
  margin: 0 2%;
  text-decoration: none;
}

header nav a:hover {
  color: #ffeb3b;
}

section {
  background-color: #5a5050;
  border-radius: 9px;
  margin: 2% auto;
  padding: 2%;
  text-align: center;
}

section h2 {
  color: #ffeb3b;
  font-size: 1.5em;
  margin-bottom: 2%;
}

.table-container {
  overflow-x: auto;
}

.tabla-oculta {
  margin: 0 auto;
}

th, td {
  border: 0.3em solid #dc9d00;
  padding: 1em;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('imagenes/fondo-papel.jpg');
  user-select: none;
}

footer {
  background-color: #ffeb3b;
  color: #000;
  padding: 1% 0;
  text-align: center;
}

img {
  width: 12em;
  height: 8em;
  user-select: none;
}

p {
  color: #dc9d00;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  margin: 2% 1%; /* Margen ajustado */
  padding: 2%;
  background-color: #5a5050;
  border-radius: 9px;
  text-align: center;
}

.menu h2 {
  color: #ffeb3b;
  font-size: 1.5em;
  margin-bottom: 2%;
}

.mapa {
  margin: 2% auto;
  padding: 2%;
  background-color: #5a5050;
  border-radius: 9px;
  text-align: center;
}

.mapa h2 {
  color: #ffeb3b;
  font-size: 1.5em;
  margin-bottom: 2%;
}

.mapa iframe {
  width: 100%;
  height: 440px;
  border: 0;
  border-radius: 9px;
}

button {
  margin: 1em; /* Margen ajustado */
}

.tabla-oculta:not(:first-child) {
  display: none;
}

@media (max-width: 767px) {
  .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .info,
  .menu,
  .mapa {
    width: 90%; /* Ancho máximo para cada sección en teléfonos móviles */
  }
}