body {
  background-color: #fafafa;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('imagenes/fondo-papel.jpg');
}

header {
  background: linear-gradient(to right, #ffeb3b, #ffa000);
  color: #fff;
  padding: 2%; /* Ajuste de padding en porcentaje */
  text-align: center;
}

header h1 {
  font-size: 2.5em; /* Ajuste de tamaño de fuente en em */
  margin: 0;
}

header nav {
  margin-top: 1%; /* Ajuste de margen superior en porcentaje */
}

header nav a {
  color: #fff;
  font-size: 1.5em; /* Ajuste de tamaño de fuente en em */
  margin: 0 2%; /* Ajuste de margen en porcentaje */
  text-decoration: none;
}

header nav a:hover {
  color: #ffeb3b;
}

section {
  background-color: #5a5050;
  border-radius: 9px;
  margin: 2% auto; /* Ajuste de margen en porcentaje */
  padding: 2%; /* Ajuste de padding en porcentaje */
  text-align: center;
}

section h2 {
  color: #ffeb3b;
  font-size: 1.5em; /* Ajuste de tamaño de fuente en em */
  margin-bottom: 2%; /* Ajuste de margen inferior en porcentaje */
}

.table-container {
  overflow-x: auto;
}

.tabla-oculta {
  margin: 0 auto;
}

th, td {
  border: 0.3em solid #dc9d00; /* Ajuste de grosor de borde en em */
  padding: 1em; /* Ajuste de padding en em */
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url('imagenes/fondo-papel.jpg');
  user-select: none;
}

footer {
  background-color: #ffeb3b;
  color: #000;
  padding: 1% 0; /* Ajuste de padding en porcentaje */
  text-align: center;
}

img {
  width: 12em; /* Ajuste de ancho de imagen en em */
  height: 8em; /* Ajuste de alto de imagen en em */
  user-select: none;
}

p {
  color: #dc9d00;
}

.menu-container {
  position: relative;
}

.menu-container::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 1em; /* Ajuste de ancho en em */
  height: 1em; /* Ajuste de alto en em */
  background-color: #dc9d00;
  border: 0.13em solid #000; /* Ajuste de grosor de borde en em */
  border-width: 0 0.13em 0.13em 0; /* Ajuste de grosor de borde en em */
  transform: translateY(-50%) rotate(-45deg);
  right: -0.5em; /* Ajuste de posición en em */
}

.menu-container::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 1em; /* Ajuste de ancho en em */
  height: 1em; /* Ajuste de alto en em */
  background-color: #dc9d00;
  border: 0.13em solid #000; /* Ajuste de grosor de borde en em */
  border-width: 0 0.13em 0.13em 0; /* Ajuste de grosor de borde en em */
  transform: translateY(-50%) rotate(135deg);
  left: -0.5em; /* Ajuste de posición en em */
}

.contenido {
  display: flex;
}

.info,
.mapa {
  flex: 1;
  margin-right: 2%; /* Ajuste de margen derecho en porcentaje */
}

.menu {
  width: 95%;
}
